In [66]:
import pandas as pd

In [67]:
df = pd.read_csv('movies.csv', sep=';', thousands=',')

In [68]:
df.head()

,index,movie_name,year_of_release,category,run_time,genre,imdb_rating,votes,gross_total
0,1.0,The Godfather,1972,R,175 min,Comedy,9.2,1860471,$134.97M
1,2.0,The Silence of the Lambs,1991,R,118 min,Crime,8.6,1435344,$130.74M
2,3.0,Star Wars: Episode V - The Empire Strikes Back,1980,PG,124 min,Fantasy,8.7,1294805,$290.48M
3,4.0,The Shawshank Redemption,1994,R,142 min,Drama,9.3,2683302,$28.34M
4,5.0,The Shining,1980,R,146 min,Horror,8.4,1025560,$44.02M

In [69]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 9 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   index            100 non-null    float64
 1   movie_name       100 non-null    object
 2   year_of_release  100 non-null    int64
 3   category         100 non-null    object
 4   run_time         100 non-null    object
 5   genre            100 non-null    object
 6   imdb_rating      100 non-null    float64
 7   votes            100 non-null    int64
 8   gross_total      99 non-null     object
dtypes: float64(2), int64(2), object(5)
memory usage: 7.2+ KB

In [70]:
import scipy.stats as st

In [71]:
confidence = 0.90
st.t.interval(confidence, len(df['imdb_rating'])-1, loc=df['imdb_rating'].mean(), scale=st.sem(df['imdb_rating']))

(8.29446038087399, 8.419539619126013)

In [72]:
confidence = 0.95
st.t.interval(confidence, len(df['imdb_rating'])-1, loc=df['imdb_rating'].mean(), scale=st.sem(df['imdb_rating']))

(8.2822632899407, 8.431736710059303)

In [73]:
confidence = 0.99
st.t.interval(confidence, len(df['imdb_rating'])-1, loc=df['imdb_rating'].mean(), scale=st.sem(df['imdb_rating']))

(8.25807487845884, 8.455925121541162)

In [74]:
confidence = 0.9999
st.t.interval(confidence, len(df['imdb_rating'])-1, loc=df['imdb_rating'].mean(), scale=st.sem(df['imdb_rating']))

(8.204264460487883, 8.50973553951212)

In [75]:
# The higher the confidence, the lower the lower bound of the interval, and the higher the upper bound of the interval.

In [76]:
confidence = 0.90
st.t.interval(confidence, len(df['votes'])-1, loc=df['votes'].mean(), scale=st.sem(df['votes']))

(815627.9266419905, 1013686.1533580095)

In [77]:
confidence = 0.95
st.t.interval(confidence, len(df['votes'])-1, loc=df['votes'].mean(), scale=st.sem(df['votes']))

(796314.2960578825, 1032999.7839421176)

In [78]:
confidence = 0.99
st.t.interval(confidence, len(df['votes'])-1, loc=df['votes'].mean(), scale=st.sem(df['votes']))

(758012.8644843912, 1071301.215515609)

In [79]:
confidence = 0.9999
st.t.interval(confidence, len(df['votes'])-1, loc=df['votes'].mean(), scale=st.sem(df['votes']))

(672806.1098613625, 1156507.9701386376)

In [80]:
# The higher the confidence, the lower the lower bound of the interval, and the higher the upper bound of the interval.

In [81]:
tenPercentLength = int(len(df['imdb_rating'])*0.1)
tenPercentRows = df.iloc[:tenPercentLength]
tenPercentRows

,index,movie_name,year_of_release,category,run_time,genre,imdb_rating,votes,gross_total
0,1.0,The Godfather,1972,R,175 min,Comedy,9.2,1860471,$134.97M
1,2.0,The Silence of the Lambs,1991,R,118 min,Crime,8.6,1435344,$130.74M
2,3.0,Star Wars: Episode V - The Empire Strikes Back,1980,PG,124 min,Fantasy,8.7,1294805,$290.48M
3,4.0,The Shawshank Redemption,1994,R,142 min,Drama,9.3,2683302,$28.34M
4,5.0,The Shining,1980,R,146 min,Horror,8.4,1025560,$44.02M
5,6.0,Casablanca,1942,PG,102 min,Romance,8.5,574092,$1.02M
6,7.0,One Flew Over the Cuckoo's Nest,1975,R,133 min,Action,8.7,1010102,$112.00M
7,8.0,Indiana Jones and the Raiders of the Lost Ark,1981,PG,115 min,Adventure,8.4,969143,$248.16M
8,9.0,The Lord of the Rings: The Return of the King,2003,PG-13,201 min,Adventure,9.0,1849082,$377.85M
9,10.0,Star Wars: Episode IV - A New Hope,1975,PG,121 min,Fantasy,8.6,1367430,$322.74M

In [82]:
confidence = 0.95
st.t.interval(confidence, len(tenPercentRows['imdb_rating'])-1, loc=tenPercentRows['imdb_rating'].mean(), scale=st.sem(tenPercentRows['imdb_rating']))

(8.510787918518412, 8.969212081481585)

In [85]:
# Previous output: (8.2822632899407, 8.431736710059303)
# Current: (8.510787918518412, 8.969212081481585)
# A little, but since these numbers are only from 1 to 10, the difference will not be great.

In [83]:
tenPercentLength = int(len(df['votes'])*0.1)
tenPercentRows = df.iloc[:tenPercentLength]
tenPercentRows

,index,movie_name,year_of_release,category,run_time,genre,imdb_rating,votes,gross_total
0,1.0,The Godfather,1972,R,175 min,Comedy,9.2,1860471,$134.97M
1,2.0,The Silence of the Lambs,1991,R,118 min,Crime,8.6,1435344,$130.74M
2,3.0,Star Wars: Episode V - The Empire Strikes Back,1980,PG,124 min,Fantasy,8.7,1294805,$290.48M
3,4.0,The Shawshank Redemption,1994,R,142 min,Drama,9.3,2683302,$28.34M
4,5.0,The Shining,1980,R,146 min,Horror,8.4,1025560,$44.02M
5,6.0,Casablanca,1942,PG,102 min,Romance,8.5,574092,$1.02M
6,7.0,One Flew Over the Cuckoo's Nest,1975,R,133 min,Action,8.7,1010102,$112.00M
7,8.0,Indiana Jones and the Raiders of the Lost Ark,1981,PG,115 min,Adventure,8.4,969143,$248.16M
8,9.0,The Lord of the Rings: The Return of the King,2003,PG-13,201 min,Adventure,9.0,1849082,$377.85M
9,10.0,Star Wars: Episode IV - A New Hope,1975,PG,121 min,Fantasy,8.6,1367430,$322.74M

In [84]:
confidence = 0.95
st.t.interval(confidence, len(tenPercentRows['votes'])-1, loc=tenPercentRows['votes'].mean(), scale=st.sem(tenPercentRows['votes']))

(978152.6909264841, 1835713.5090735161)

In [ ]:
# Previous output: (796314.2960578825, 1032999.7839421176)
# Current: (978152.6909264841, 1835713.5090735161)
# Yes, the more data and differences between values, the greater the effect on the confidence interval.